{% extends 'base/base.html' %}
{% block body %}
    {% set produto = produto or None %}
    {% set erros = erros or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <div class="well">
                    <h1 class="text-center">Formulário de Produtos</h1>
                    <form action="{{ salvar_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input('Nome', 'nome', produto.nome, erros.nome) }}
                        {{ form_input('Descrição', 'descricao', produto.descricao, erros.descricao) }}
                        {{ form_input('Preço', 'preco', produto.preco, erros.preco) }}
                        {{ form_input('Modelo', 'modelo', produto.modelo, erros.modelo) }}
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
{% endblock %}