{% extends 'base/base.html' %}
{% block body %}
    {% set produto = produto or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <h1 class="text-center">Tabela de Produtos</h1>
                <div class="well">
		            <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Modelo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in produto %}
                            <tr>
                                <td><a class="btn btn-success" href="produto/editar_form/{{ p.key.id() }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>{{ p.key.id() }}</td>
                                <td>{{ p.nome }}</td>
                                <td>{{ p.descricao }}</td>
                                <td>{{ p.preco }}</td>
                                <td>{{ p.modelo }}</td>
                                <td><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-1">
            </div>
        </div>
    </div>
{% endblock %}