{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    {% set erros = erros or Nome %}
   <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nascimento</th>
        </tr>
    </thead>
   <tbody>
        {% for e in escravos %}
            <td><a href="{{ e.edit_path }}" class="btn btn-sucess"><i></i></a></td>
            <td>
                <form action="{{ e.delete_path }}">
                    <button class="btn btn-danger"><i class="glyphicon glyphicon='pencil'"></i></button>

                </form>
            </td>
            <td>{{ e.key.id }}</td>
            <td>{{ e.name }}</td>
            <td>{{ e.birth }}</td>
        {% endfor %}
   </tbody>
   </table>
{% endblock %}